.container-home{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: start;
    flex-direction: column;
}

.banner {
    height: 14em;
    background-color: darkslategrey;
    width: 100%;

}
.container-card {
    display: flex;
    flex-wrap: wrap;
}