*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg');
    background-size: cover;
    background-position: top;
    margin: 0%;
    padding: 0%;
}